
<% @secrets.each do |secret|%>
    <p><%= secret.content%></p>
    <% if secret.likes == [] %>
        <p><%="0 likes"%></p>
    <% else %>
            <form action = "/secrets/like<%= secret.id %>" method = "post">
            <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
            <input type="submit" value="Like">
        </form>  
        <form action = "/secrets/<%= secret.id %>" method = "post">
            <input type='hidden' name='_method' value='delete'>
            <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
            <input type="submit" value="Delete Secret">
        </form>
    <% end %>
<% end %>
